body
{
    background-color:#757575;
    margin:0px;
    margin-bottom:2em;

    overflow:scroll;
}

li a:hover {
    background-color: #555;
    color: white;
  }

.buffer
{
    margin-top:5em;
}


button
{
    margin:2em;
}

  form
  {
      display:flex;
      flex-direction:column;
  }

.container
{
    font-family: 'Titillium Web', sans-serif;

    color:white;

    background-color:#212121;
    border-radius:12px;
    text-align:center;
    margin:1em;
    padding: 1em;
}

ul {
    background-color:#81D4FA;
    position:fixed;
    top:0;
    width:100%;


    list-style-type:none;
    margin:0px;
    padding:0px;


  }


  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li
  {
      float:left;
  }
  


  #firstContainer
  {
      margin-top:3em;
  }




 
img {
    max-width: 100%;
    height: auto;
  }

p
{
    color:white;
}